@{
  Layout = "_Layout";
}
@using VendorOrders.Models
<div class="header">
  <h1>@Model["vendor"].Name's Order - @Model["order"].Title</h1>
</div>
<div class="content">
  <ul>
    <li>Delivery Date: @Model["order"].Date</li>
    <li>Order Description:</li>
    <ul>
      @if(@Model["order"].Description == null)
      {
        <li class="empty">No Description Given!</li>
      }
      else
      {
        <li>@Model["order"].Description</li>
      }
    </ul>
    <li>Total Owed (Order Price): $
      @if(@Model["order"].Price == 0)
      {
        <span class="empty">No Price Given!</span>
      }
      else
      {
        <span>@Model["order"].Price</span>
      }
    </li>
  </ul>
</div>
<div class="footer">
  <p>[ <a href='/vendors/@Model["vendor"].Id'>Return to Vendor</a> ]
  [ <a href="/">Return To Home</a> ]</p>
</div>